.booking {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  min-height: 100vh;
  padding: 8rem 2rem;

  h1 {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
  }

  p {
    max-width: 50rem;

    span {
      font-weight: 700;
    }
  }
  
  .bookingGuide {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;

    span {
      font-size: 1.1rem;
      color: black;
      text-decoration: underline;
      font-weight: 600;
    }

    svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  .dropdown {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
    color: #0b1723;
    border: 1px solid #0b1723;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;

    p {
      color: #0b1723;
      opacity: 0.9;
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
    }

    svg {
      width: 1.2rem;
      height: 0.95rem;
      transition: all 0.35s ease-in-out;
    }
  }

  .deposit,
  .why,
  .rules {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/new/8.jpg");
    background-size: cover;
    background-position: center;
    padding: 8rem 1rem;
    padding-left: 2rem;

    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      max-width: 40rem;
      font-size: 1.25rem;
    }

    ul {
      max-width: 40rem;

      margin-top: 1rem;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.5rem;

      list-style-type: number;

      li {
        font-weight: 400;
        font-size: 0.9rem;

        span {
          text-decoration: underline;
          font-weight: 600;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .why {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/5.jpg");
  }

  .rules {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/7.jpg");

    margin-bottom: 4rem;
  }
}
